.about{
    margin: 0.3em;
    box-shadow: 0 0 0.3em black;
}
.hom{
    background-image: url(https://images.unsplash.com/photo-1557128928-66e3009291b5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D); 
}
.home{
    width: 90vw;
   margin: 2em;
}
.navdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homenav{
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: serif;
    font-size: 0.8em;
    padding: 0.4em;
    box-shadow: 0 0 1em black;
    border-radius: 10em;
    margin: 0.5em;
    margin-right: 2em;
    text-align: center;
    text-decoration: underline;
}
.homenav:hover{
    background-color: rgb(237, 227, 227);
    color: brown;
}

.portfolio{
    color: rgb(17, 46, 17);
    text-align: center;
    font-size: 1em;
    box-shadow: 0 0 12px rgb(63, 58, 50);
    padding: 0.03em;
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
.field{
    border: solid 0.4em;
    background-color: azure;
}
.ai{
    margin: 0 25%;
    width: 50vw;
    border-radius: 7em;  
}
legend{
    color: rgb(180, 0, 0);
    font-size: larger;
    font-weight: bold;
}
.note{
    font-family: "serif";
    font-weight: bold;
}
.address{
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 0 0.6em rgb(237, 186, 194);
    border-radius: 2em;
    margin: 1.5em;
    padding: 1em;
    background-color: rgb(244, 244, 156); 
}
.bethel{
    margin-top: 1.3em;
    font-weight: bold;
}
.add{
    color:rgb(241, 99, 99) ;
    border-radius: 3em;   
    margin: 0.7em; 
    padding: 0.4em;
}
.insta{
    font-weight: bold;
    font-size: large;
}
.essay{
    background-color: white;
    border: 0.4em double black;
    padding: 0.4em;
    opacity: 0.8;
}
.photohead{
     background-image: url(../files/Church.jpg);
     text-align: center;
     color: white;
     font-size: 2em;
     box-shadow: 0 0 0.4em black;
     margin: 0.3em;
     border-radius: 2em;
     padding: 0.4em;
}
.photohead:hover{
    background-image: url(../files/bec79416b47de044cfb9e1607b8c92db.jpg);
}
.childpic{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(211, 226, 226);
    border-radius: 5em;
}
.less{
    font-size: 1.5em;
    margin-left: 2em;
    grid-column: 1/3;
}
.img{
    margin: 1em;
    border: solid brown 0.3em;
    border-radius: 4em;  
    width: 12em;
}
.img2{
    margin: 1em;
    border: solid brown 0.3em;
    border-radius: 4em;  
    width: 12em;
}
.adultpic{
       display: grid;
       grid-template-columns: auto auto;
       background-color: rgb(244, 244, 156); 
       margin-top: 1em;
       border-radius: 5em;
}

.great{
    font-size: 1.5em;
    margin-left: 2em;
    grid-column: 1/3;
}
.four{
    grid-area: 2 /2 ;
}

.aimg{
    margin: 1em;
    border: solid rgb(165, 42, 118) 0.3em;
    border-radius: 4em;
    width: 11em;
}
.next{
    background-color: white;
    margin: 2em;
    text-align: right;
}
.footer{
    margin: 0.6em;
    padding: 1em;
    background-color: rgb(210, 210, 210);
    text-align: center;
    box-shadow: 0 0 1em ;
}
/* Eduation page Style*/

.askuala{
    margin: 0;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.myed{
    width: 100vw;
    background-image: url(../files/Church.jpg);
    color: white;
    text-align: center;
    margin: 1em 15%;
    font-size: 2em;
    box-shadow: 0 0 0.6em rgb(56, 51, 46);
    padding: 0.8em;
    border-radius: 10em;
    grid-area: 1 / 1 / span 1/ span 2;
}
.victory{
    background-color: white;
    width: 90vw;
    border: solid;
    margin: 0.2em;
    border-radius: 2em;
    box-shadow: 0 0 0.3em rgb(70, 93, 18);
}
.el{
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-size: 1.7em;
}
.elpic{
    width: 60vw;
    margin: 1em;
     height: 20vh;
    border-radius: 2em;
    border: solid;
}
.abvic{
    font-size: 1.3em;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.motohead{
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 0.6em;
}
.moto{
    font-size: 1.3em;
    color: rgb(111, 69, 111);
}
.mykg{
    width: 73vw;
    margin: 1em;
    border-radius: 6em;
    border: 2px solid rgb(115, 70, 78);
}
.high{
    background-color: white;
    width: 80vw;
    border: solid;
    margin: 0.2em;
    border-radius: 2em;
    box-shadow: 0 0 0.3em rgb(70, 93, 18);
}
.cathepic{
    margin: 1em;
    border-radius: 2em;
    border: solid;
    height: 40vh;
}
.catnote{
    font-size: 1.3em;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.cathe{
    font-size: 2em;
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
}
.uscathe{
    width: 60vw;
    margin: 1em;
    border-radius: 6em;
    border: 2px solid rgb(115, 70, 78);
}
.uni{
    background-color: white;
    box-shadow: 0 0 0.5em rgb(70, 93, 18);
    border: solid;
    margin: 0.4em;
    border-radius: 2em;
    width: 90vw;
}
.unihead{
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
}
.aait{
    width: 45vw;
    margin: 1em;
    border-radius: 2em;
    border: solid;  
}
.aanote{
    font-size: 1.9em;
    margin: 1em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.trans{
    background-color: white;
    border: solid;
    width: 60vw;
    height: 60vh;
    margin: 2em;
    box-shadow: 0 0 1.5em rgb(113, 92, 95);
    padding: 1em;
}
.file{
    color: rgb(60, 106, 106);
    font-size: 2em;
    font-weight: bold;
}
.transcript{
    font-size: 1.5em;
    border: solid;
    padding: 0.9em;
    font-weight: bold;
    border-radius: 1em;
    background-color: rgb(0, 0, 108);
    color: white;
}
.transcript:hover{
    background-color: lightgray;
}
.church{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.2em;
}
.mych{
    box-shadow: 0 0 0.3em black;
    color: rgb(239, 245, 239);
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    width: 90vh;
    padding: 0.3em;
    border-radius: 1em;
    background-image: url(../files/Church.jpg);
}
#giorgis{
    border-radius: 6em;
    width: 60vw;
    margin: 0.5em;
    border: 2px solid;
}
#saint{
   text-align: center;
   font-size: 2.5em;
   color: rgb(0, 0, 0);
}
.mary{
    background-color: white;
    width: 80vw;
    border: solid;
    border-radius: 1em;
    height: 100vh;
    padding: 0.5em;
    margin: 0.4em;
    box-shadow: 0 0 0.3em;
}
.praise{
    font-size: 2em;
}
.tue{
    font-size: 1.5em;
}
.kolo{
    width: 55vw;
    border: solid;
}
.teklil{
    width: 70vw;
}
.theology{
    background-color: white;
    width: 85vw;
    border: solid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.4em;
    box-shadow: 0 0 0.3em ;
}
.regular{
    font-size: 1.8em;
    text-align: center;
}
.classes{
    font-size: 1.7em;
}
ul{
    font-size: 1.4em;
}
.lihead{
    color: brown;
    font-size: 1.5em;
}
.thesis{
    font-weight: bold;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#nexted{
    margin-left: 25em;
    padding: 0.4em;
}
#foot{
    width: 150vw;
    font-size: 1.4em;
}
#ednav{
    background-color: white;
    font-size: 1.3em;
}
#nexted{
    font-size: 1.5em;
    color: black;
}
#preved{
    font-size: 1.5em;
}
.ed{
    opacity: 0.9;
    background-image: url(https://images.unsplash.com/photo-1532456745301-b2c645d8b80d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdoaXRlJTIwZ2VvbWV0cmljfGVufDB8fDB8fHww);
}
 /* My volunteer page CSS*/

.volbox{
    background-color: white;
    width: 110vw;
    margin: 2em 25%;
    padding: 1.5em;
    border-radius: 2em;
    box-shadow: 0 0 1em;
}
#nextvol{
    margin-left: 45em;
}
.myvol{
    color:white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 0.3em rgb(126, 115, 101);
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
.volvid{
  width: 95vw;
  border-radius: 3em;
  border: double;
  margin: 0.3em ;
}
.vol{
    background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D);
}
.volunteer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ken{
    width: 90vw;
    box-shadow: 0 0 0.5em;
    margin: 0.5em;
    border-radius: 1.6em;
    background-color: rgb(246, 248, 226);
}
.summer{
    width: 10em;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.johnimg{
    width:40vh;
    height: 50vh;
    margin: 1em;
    border: brown solid;
    border-radius: 2em;
}
.kennote{
    text-align: center;
    font-size: 1.6em;
    color: rgb(15, 65, 15);
}
.libo{
    box-shadow: 0 0 0.5em;
    width: 20em;
    margin: 0.8em;
    border-radius: 1.6em;
    background-color: rgb(243, 206, 206);
}
.assist{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.liboimg{
    width: 45vw;
    margin: 1em;
    border: brown solid;
    border-radius: 2em;
}
.libonote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.plantbox{
    width: 90vw;
    box-shadow: 0 0 0.5em;
    margin: 1em;
    border-radius: 1.6em;
    background-color: rgb(243, 206, 206);
}
.plant{
    width: 10em;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline;
}
.plantimg{
    width: 45vw;
    margin: 1em;
    border: brown solid;
    border-radius: 2em; 
}
.plantnote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.stembox{
    
    background-color: rgb(246, 248, 226);
    box-shadow: 0 0 0.5em;
    margin: 1em;
    border-radius: 1.6em;
}
.stem{
    width: 10em;
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;
}
.stemimg{
    margin: 1em;
    border: brown solid;
    border-radius: 2em; 
}
.stemnote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.fv{
    width: 90vh;
}

/* Hobby page Style*/

.hobbox{
    box-shadow: 0 0 0.3em black;
    padding: 0.4em;
    width: 130vw;
    border-radius: 2em;
    margin-left: 2em;
    background-color: rgb(248, 243, 244);
}
.hob{
    background-image: url(https://images.unsplash.com/photo-1505085702750-96d89f461398?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHdoaXRlJTIwZ2VvbWV0cmljfGVufDB8fDB8fHww);
}
.fiction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
}
.read{
    width: 90vw;
    margin-top: 2.5em;
    text-decoration: underline;
}
.bookimg{
    padding: 0.5em;
}
.myall{
    grid-column: span 2;
    font-size: 2.4em;
    font-weight: bold;
}
.ul{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0 ;
    padding: 0;
}
.mine{
    width: 90vw;
    border-radius: 2em;
    box-shadow: 0 0 0.5em black;
    margin: 0.3em;
    margin: 0.5em;
    font-size: 1.2em;
    padding: 0.3em;
    height: 90vh;
    background-color: antiquewhite;
}
.mineimg{
    width: 60vw;
    border-radius: 2em;
    padding: 1.5em;
}
.thea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2em;
    width: 190vw;
    box-shadow: 0 0 0.8em black;
    background-color: rgb(226, 239, 243);
}
.theatre{
    text-decoration: underline;
    padding: 0.5em;
    color: brown;
    font-size: 2.2em;
}
.theaimg{
    width: 65vw;
    border-radius: 4em;
    padding: 1em;
}
.theanote{
    grid-column: 1/3;
    align-items: start;
    font-size: 2em;
    padding: 0.3em;
}
.drama{
    font-size: 2em;
    color: rgb(7, 51, 7);
    padding: 0.4em;
}
dt{
    font-size: 1.8em;
}
dd{
    font-size: 1.5em;
}
.actimg{
    width: 40vh;
    margin: 3em;
    border: double 0.3em;
    border-radius: 3em;
}
.ride{
    box-shadow: 0 0 2em;
    padding: 1em;
    margin: 1.5em;
    font-size: 1.5em;
    border-radius: 2em;
    width: 140vw;
    background-color: rgb(245, 238, 228);
}
.ridimg{
    width: 70vw;
    border: solid;
}
.ridnote{
    font-size: 1.5em;
}
.liturgy{
    background-color: white;
    box-shadow: 0 0 1em black;
    border-radius: 2em;
    margin: 1em;
    padding: 0.3em;
    width: 150vw;
}
audio{
    border: solid rgb(52, 18, 18);
    border-radius: 1.4em;
    margin: 0.3em 25%;
}
.litimgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.usc{
    border-radius: 3em;
    height: 30vh;
    border: solid;
    width: 70vw;
    margin: 0.3em;
}
.pray{
    border-radius: 3em;
    height: 40vh;
}
.litnote{
    font-size: 2em;
}


/* My skills Css*/

.myskil{
    width: 170vw;
    color:white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 0.3em rgb(126, 115, 101);
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
tbody tr:nth-child(odd) {
    background-color: white;
    opacity: 0.9;
  }
  tbody tr:nth-child(even) {
    background-color: #f4e4e4;
  }
table {
    border-collapse: collapse;
    border: 2px inset black;
    margin-right:auto;
    box-shadow: -0.2em -0.2em rgb(139, 134, 134);
    width: 200vw;
}
td {
    padding: 0.2em;
    font-size: 1.4em;
  }
.tdh{
    font-weight: bold;
}
th{
    padding: 0.5em;
  }
td img{
    width:90%
}
.other{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sofa{
    width: 100vh;
    grid-column: 1/3;
    box-shadow: 0 0 0.5em black;
    margin: 0.5em;
    border-radius: 2em;
    background-color: rgb(243, 252, 242);
}
.myad{
    font-size: 2em;
    text-align: center;
    color: brown;
    border-radius: 2em;
    box-shadow: 0 0 0.3em black;
    padding: 0.3em;
    background-color: white;
}
.ankelba{
    margin: 0.3em 20%;
    width: 100vw;
        border: solid;
    border-radius: 2em;
}
.notes{
    font-size: 1.8em;
    padding: 0.3em;
}
.bike{
    font-size: 1.4em;
    width: 90vw;
    box-shadow: 0 0 0.3em;
    border-radius: 2em;
    margin: 0.3em;
    background-color: rgb(244, 253, 244);
}
.bikeimg{
    width: 80vw;
    border-radius: 2em;
    padding: 0.5em;
}
.certi{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.mycer{
    background-image: url(../files/Church.jpg);
    opacity: 0.9;
    width: 150vw;
    grid-column: 1/3;
    text-align: center;
    font-size: 2.3em;
    color: rgb(253, 253, 253);
    box-shadow: 0 0 0.3em black;
    padding: 0.6em;
    border-radius: 2em;
}
.mycer:hover{
    background-image: url(../files/creative.jpg);
}
.hour{
    background-color: white;
    opacity: 0.9;
    width: 90vw;
    box-shadow: 0 0 0.6em black;
    margin: 0.5em;
    font-size: 1.4em;
}
.hourimg{
    margin: 0.4em;
    border: solid;
    width: 70vw;
    padding: 0.3em;
}
.skill{
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D);
}