.about{
    margin: 0.3em;
}
.hom{
    background-image: url(https://images.unsplash.com/photo-1557128928-66e3009291b5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D); 
}
.home{
    width: 90vw;
   margin: 2em;
}
.navdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homenav{
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: serif;
    font-size: 0.8em;
    padding: 0.4em;
    box-shadow: 0 0 1.1em black;
    border-radius: 10em;
    margin: 0.5em;
    margin-right: 2em;
    text-align: center;
    text-decoration: underline;
}
.homenav:hover{
    background-color: rgb(237, 227, 227);
    color: brown;
}
.portfolio{
    color: rgb(17, 46, 17);
    text-align: center;
    width: 110vw;
    font-size: 1.3em;
    box-shadow: 0 0 12px rgb(63, 58, 50);
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
.field{
    width: 110vw;
    border: solid 0.4em;
    background-color: azure;
    margin-bottom: 0.5em;
}
.ai{
    width: 50vw;
    border-radius: 7em;  
}
legend{
    color: rgb(180, 0, 0);
    font-size: larger;
    font-weight: bold;
}
.note{
    font-family: "serif";
    font-weight: bold;
    font-size: 1.2em;
}
.address{
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 0 0.6em rgb(237, 186, 194);
    border-radius: 2em;
    margin: 1.5em;
    padding: 1em;
    width: 80vw;
    background-color: rgb(244, 244, 156); 
}
.bethel{
    margin-top: 1.3em;
    font-weight: bold;
}
.add{
    color:rgb(241, 99, 99) ;
    border-radius: 3em;   
    margin: 0.7em; 
    padding: 0.4em;
}
.insta{
    font-weight: bold;
    font-size: large;
}
.essay{
    background-color: white;
    border: 0.4em double black;
    padding: 0.4em;
    opacity: 0.8;
}
.photohead{
     background-image: url(../files/Church.jpg);
     text-align: center;
     color: white;
     font-size: 1.6em;
     box-shadow: 0 0 0.4em black;
     margin: 0.3em;
     border-radius: 2em;
     padding: 0.4em;
}
.photohead:hover{
    background-image: url(../files/bec79416b47de044cfb9e1607b8c92db.jpg);
}
.childpic{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(211, 226, 226);
    border-radius: 5em;
    width: fit-content;
}
.less{
    font-size: 1.5em;
    margin-left: 2em;
    grid-column: 1/3;
}
.img{
    margin: 1em;
    border: solid brown 0.3em;
    border-radius: 4em;  
    width: 10em;
}
.img2{
    margin: 1em;
    border: solid brown 0.3em;
    border-radius: 4em;  
    width: 10em;
}
.adultpic{
       display: grid;
       grid-template-columns: auto auto;
       background-color: rgb(244, 244, 156); 
       margin-top: 1em;
       border-radius: 5em;
       width: fit-content;
}
.great{
    font-size: 1.5em;
    margin-left: 2em;
    grid-column: 1/3;
    text-align: center;
}
.four{
    grid-area: 2 /2 ;
}

.aimg{
    margin: 1em;
    border: solid rgb(165, 42, 118) 0.3em;
    border-radius: 4em;
    width: 12em;
}
.next{
    margin: 2em 0;
    text-align: right;
}
.footer{
    margin: 0.6em;
    padding: 1em;
    background-color: rgb(210, 210, 210);
    text-align: center;
    box-shadow: 0 0 1em ;
}
/* Eduation page Style*/
.askuala{
    margin: 0;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.myed{
    width: 110vw;
    background-image: url(../files/Church.jpg);
    color: white;
    text-align: center;
    margin: 1em 15%;
    font-size: 2em;
    box-shadow: 0 0 0.6em rgb(56, 51, 46);
    padding: 0.8em;
    border-radius: 10em;
    grid-column: 1/3;
}
.victory{
    background-color: white;
    width: 100vw;
    border: solid;
    margin: 0.2em;
    border-radius: 2em;
    box-shadow: 0 0 0.3em rgb(70, 93, 18);
}
.el{
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-size: 1.7em;
}
.elpic{
    width: 60vw;
    margin: 1em;
     height: 20vh;
    border-radius: 2em;
    border: solid;
}
.abvic{
    font-size: 1.3em;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.motohead{
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 0.6em;
}
.moto{
    font-size: 1.3em;
    color: rgb(111, 69, 111);
}
.mykg{
    width: 73vw;
    margin: 1em;
    border-radius: 6em;
    border: 2px solid rgb(115, 70, 78);
}
.high{
    background-color: white;
    width: 100vw;
    border: solid;
    margin: 0.3em;
    border-radius: 2em;
    box-shadow: 0 0 0.3em rgb(70, 93, 18);
}
.cathepic{
    width: 75vw;
    margin: 1em;
    border-radius: 2em;
    border: solid;
    height: 40vh;
}
.catnote{
    font-size: 1.3em;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.cathe{
    font-size: 2em;
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
}
.uscathe{
    width: 60vw;
    margin: 1em;
    border-radius: 6em;
    border: 2px solid rgb(115, 70, 78);
}
.uni{
    background-color: white;
    box-shadow: 0 0 0.5em rgb(70, 93, 18);
    border: solid;
    margin: 0.4em;
    border-radius: 2em;
    width: 90vw;
}
.unihead{
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
}
.aait{
    width: 45vw;
    margin: 1em;
    border-radius: 2em;
    border: solid;  
}
.aanote{
    font-size: 1.9em;
    margin: 1em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.trans{
    background-color: white;
    border: solid;
    width: 70vw;
    height: 60vh;
    margin: 2em;
    box-shadow: 0 0 1.5em rgb(113, 92, 95);
    padding: 1em;
}
.file{
    color: rgb(60, 106, 106);
    font-size: 2em;
    font-weight: bold;
}
.transcript{
    font-size: 1.5em;
    border: solid;
    padding: 0.9em;
    font-weight: bold;
    border-radius: 1em;
    background-color: rgb(0, 0, 108);
    color: white;
}
.transcript:hover{
    background-color: lightgray;
}
.church{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.2em;
}
.mych{
    box-shadow: 0 0 0.3em black;
    color: rgb(239, 245, 239);
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    width: 90vh;
    padding: 0.3em;
    border-radius: 1em;
    background-image: url(../files/Church.jpg);
}
#giorgis{
    border-radius: 6em;
    width: 40vw;
    margin: 0.5em;
    border: 2px solid;
}
#saint{
   text-align: center;
   font-size: 2.5em;
   color: rgb(0, 0, 0);
}
.mary{
    background-color: white;
    width: 90vw;
    border: solid;
    border-radius: 1em;
    height: 100vh;
    padding: 0.5em;
    margin: 0.4em;
    box-shadow: 0 0 0.3em;
}
.praise{
    font-size: 2em;
}
.tue{
    font-size: 1.5em;
}
.kolo{
    width: 55vw;
    border: solid;
}
.teklil{
    width: 70vw;
}
.theology{
    background-color: white;
    width: 95vw;
    border: solid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.4em;
    box-shadow: 0 0 0.3em ;
}
.regular{
    font-size: 1.8em;
    text-align: center;
}
.classes{
    font-size: 1.7em;
}
ul{
    font-size: 1.4em;
}
.lihead{
    color: brown;
    font-size: 1.5em;
}
.thesis{
    font-weight: bold;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#nexted{
    margin-left: 10em;
    padding: 0.5em;
    font-size: 1.5em;
    color: black;
}
#foot{
    font-size: 1.4em;
    width: 180vw;
}

#ednav{
    background-color: white;
    font-size: 1.3em;
}
#preved{
    font-size: 1.5em;
}
.ed{
    opacity: 0.9;
    background-image: url(https://images.unsplash.com/photo-1532456745301-b2c645d8b80d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdoaXRlJTIwZ2VvbWV0cmljfGVufDB8fDB8fHww);
}
 /* My volunteer page CSS*/

 @media screen and (min-width: 1024px){
    div.volbox{
        width: 60vw;
    }
    video.volvid{
        width: 55vw;
    }
    div.ken, div.libo, div.plantbox, .divstem{
        width: 45vw;
    }
    p.kennote , p.libonote, p.stemnote, p.plantnote{
        font-size: 1.6em;
        font-weight: bold;
    }
    img.johnimg, img.liboimg, img.plantimg, img.stemimg {
        width: 30vw;
    }
    footer.footer.fv{
        width: 90vw;
    }
 }
.volbox{
    background-color: white;
    width: 110vw;
    margin: 2em 25%;
    padding: 1.5em;
    border-radius: 2em;
    box-shadow: 0 0 1em;
}
#nextvol{
    margin-left: 45em;
}
.myvol{
    color:white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 0.3em rgb(126, 115, 101);
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
.volvid{
  width: 95vw;
  border-radius: 3em;
  border: double;
  margin: 0.3em ;
}
.vol{
    background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D);
}
.volunteer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ken{
    width: 90vw;
    box-shadow: 0 0 0.5em;
    margin: 0.5em;
    border-radius: 1.6em;
    background-color: rgb(246, 248, 226);
}
.summer{
    width: 10em;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.johnimg{
    width:40vh;
    height: 50vh;
    margin: 1em;
    border: brown solid;
    border-radius: 2em;
}
.kennote{
    text-align: center;
    font-size: 1.6em;
    color: rgb(15, 65, 15);
}
.libo{
    box-shadow: 0 0 0.5em;
    width: 20em;
    margin: 0.8em;
    border-radius: 1.6em;
    background-color: rgb(243, 206, 206);
}
.assist{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.liboimg{
    width: 45vw;
    margin: 1em;
    border: brown solid;
    border-radius: 2em;
}
.libonote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.plantbox{
    width: 90vw;
    box-shadow: 0 0 0.5em;
    margin: 1em;
    border-radius: 1.6em;
    background-color: rgb(243, 206, 206);
}
.plant{
    width: 10em;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline;
}
.plantimg{
    width: 45vw;
    margin: 1em;
    border: brown solid;
    border-radius: 2em; 
}
.plantnote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.stembox{
    
    background-color: rgb(246, 248, 226);
    box-shadow: 0 0 0.5em;
    margin: 1em;
    border-radius: 1.6em;
}
.stem{
    width: 10em;
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;
}
.stemimg{
    margin: 1em;
    border: brown solid;
    border-radius: 2em; 
}
.stemnote{
    text-align: center;
    font-size: 1.4em;
    color: rgb(15, 65, 15);
}
.fv{
    width: 90vh;
}
button#nexted{
    margin-left: 23em;
}
/* Hobby page Style*/
.hobbox{
    box-shadow: 0 0 0.3em black;
    padding: 0.4em;
    width: 130vw;
    border-radius: 2em;
    margin-left: 2em;
    background-color: rgb(248, 243, 244);
}
.hob{
    background-image: url(https://images.unsplash.com/photo-1505085702750-96d89f461398?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHdoaXRlJTIwZ2VvbWV0cmljfGVufDB8fDB8fHww);
}
.fiction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
}
.read{
    width: 90vw;
    margin-top: 2.5em;
    text-decoration: underline;
}
.bookimg{
    padding: 0.5em;
}
.myall{
    grid-column: span 2;
    font-size: 2.4em;
    font-weight: bold;
}
.ul{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0 ;
    padding: 0;
}
ul.ul{
    width: 100vw;
}
li.mine{
    width: 80vw;
    border-radius: 2em;
    box-shadow: 0 0 0.5em black;
    margin: 0.3em;
    margin: 0.5em;
    font-size: 1.2em;
    padding: 0.3em;
    height: 70vh;
    background-color: antiquewhite;
}
.mineimg{
    width: 40vw;
    border-radius: 2em;
    padding: 1.5em;
}
.thea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2em;
    width: 190vw;
    box-shadow: 0 0 0.8em black;
    background-color: rgb(226, 239, 243);
}
.theatre{
    text-decoration: underline;
    padding: 0.5em;
    color: brown;
    font-size: 2.2em;
}
.theaimg{
    width: 65vw;
    border-radius: 4em;
    padding: 1em;
}
.theanote{
    grid-column: 1/3;
    align-items: start;
    font-size: 2em;
    padding: 0.3em;
}
.drama{
    font-size: 2em;
    color: rgb(7, 51, 7);
    padding: 0.4em;
}
dt{
    font-size: 1.8em;
}
dd{
    font-size: 1.5em;
}
.actimg{
    width: 40vh;
    margin: 3em;
    border: double 0.3em;
    border-radius: 3em;
}
.ride{
    box-shadow: 0 0 2em;
    padding: 1em;
    margin: 1.5em;
    font-size: 1.5em;
    border-radius: 2em;
    width: 140vw;
    background-color: rgb(245, 238, 228);
}
.ridimg{
    width: 70vw;
    border: solid;
}
.ridnote{
    font-size: 1.5em;
}
.liturgy{
    background-color: white;
    box-shadow: 0 0 1em black;
    border-radius: 2em;
    margin: 1em;
    padding: 0.3em;
    width: 150vw;
}
audio{
    border: solid rgb(52, 18, 18);
    border-radius: 1.4em;
    margin: 0.3em 25%;
}
.litimgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.usc{
    border-radius: 3em;
    height: 30vh;
    border: solid;
    width: 70vw;
    margin: 0.3em;
}
.pray{
    border-radius: 3em;
    height: 40vh;
}
.litnote{
    font-size: 2em;
}


/* My skills Css*/
.myskil{
    width: 170vw;
    color:white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 0.3em rgb(126, 115, 101);
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 10em;
    background-image: url(../files/Church.jpg);
}
tbody tr:nth-child(odd) {
    background-color: white;
    opacity: 0.9;
  }
  tbody tr:nth-child(even) {
    background-color: #f4e4e4;
  }
table {
    border-collapse: collapse;
    border: 2px inset black;
    margin-right:auto;
    box-shadow: -0.2em -0.2em rgb(139, 134, 134);
    width: 200vw;
}
td{
    padding: 0.2em;
    font-size: 1.4em;
  }
.tdh{
    font-weight: bold;
}
th{
    padding: 0.5em;
  }
td img{
    width:90%
}
.other{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
th.img{
    border: solid beige;
  }
.sofa{
    width: 100vh;
    grid-column: 1/3;
    box-shadow: 0 0 0.5em black;
    margin: 0.5em;
    border-radius: 2em;
    background-color: rgb(243, 252, 242);
}
.myad{
    font-size: 2em;
    text-align: center;
    color: brown;
    border-radius: 2em;
    box-shadow: 0 0 0.3em black;
    padding: 0.3em;
    background-color: white;
}
.ankelba{
    margin: 0.3em 20%;
    width: 100vw;
        border: solid;
    border-radius: 2em;
}
.notes{
    font-size: 1.8em;
    padding: 0.3em;
}
.bike{
    font-size: 1.4em;
    width: 90vw;
    box-shadow: 0 0 0.3em;
    border-radius: 2em;
    margin: 0.3em;
    background-color: rgb(244, 253, 244);
}
.bikeimg{
    width: 80vw;
    border-radius: 2em;
    padding: 0.5em;
}
.certi{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.mycer{
    background-image: url(../files/Church.jpg);
    opacity: 0.9;
    width: 150vw;
    grid-column: 1/3;
    text-align: center;
    font-size: 2.3em;
    color: rgb(253, 253, 253);
    box-shadow: 0 0 0.3em black;
    padding: 0.6em;
    border-radius: 2em;
}
.mycer:hover{
    background-image: url(../files/creative.jpg);
}
.hour{
    background-color: white;
    opacity: 0.9;
    width: 90vw;
    box-shadow: 0 0 0.6em black;
    margin: 0.5em;
    font-size: 1.4em;
}
.hourimg{
    margin: 0.4em;
    border: solid;
    width: 70vw;
    padding: 0.3em;
}
.skill{
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2hpdGUlMjBnZW9tZXRyaWN8ZW58MHx8MHx8fDA%3D);
}
@media screen and (min-width: 481px) and (max-width: 768px){
    fieldset.field{
        width: 80vw;
        margin-left: 10%;
    }
    div.childpic, div.adultpic{
        width: 85%;
        margin-left: 8%;
        margin-top: 2em;
    }
    img.img, img.img2 , img.aimg{
        width: 35vw;
    }
    li.mine{
        height: 120vh;
        font-size: 1.9em;
    }
    a.homenav{
        width: 30vw;
        font-size: 1.3em;
    }
    nav.navdiv{
        width: 100vw;
    }
    a#ednav.homenav{
        font-size: 2em;
    }
    div.victory, div.high, div.theology{
        width: 75vw;
        font-size: 1.7em;
    }
    footer#foot.footer{
        width: 155vw;
    }
    img.cathepic{
        width: 60vw;
    }
    button#nexted{
        margin-left: 35em;
    }
    img.teklil{
        width: 50vw;
    }
    table{
        transform: scale(0.8);
        transform-origin: top left;
        margin-top: 1em;
        margin-bottom: 0em;
    }
       h2.mycer{
       width: 80vw;
       }
       img.bikeimg{
       width: 50vw;
       }
       td.tdd, td.tdn{
       width: 0.1vw;
       font-size: 3em; 
       }
       td.tdh{
         width: 0.1vw;
         font-size: 3em; 
       }
        th.no , th.desc , th.img, th.sk{
         width: 0.01vw;
        font-size: 3em; 
        }
        div.sofa{
        font-size: 1.8em;
        margin-top:-10em ;
        width: 130vw;
        margin-left: 10%;
         }
        div.bike{
        width: 70vw;
        font-size: 1.8em;
        margin-right: 2em;
         }
         div.hour{
        width: 80vw;
        }
        th.img{
         border-radius: 0;
        border: solid beige;
        }
        img.ankelba{
         width: 80vw;
        }
       img.hourimg{
        width: 60vw;
       margin: 0.9em;
     }
     div.thea{
        width: 160vw;
        font-size: 1.5em;
     }
}
@media screen and (min-width:769px) and (max-width: 1023px){
    a.homenav{
        font-size: 2em;
    } 
    fieldset.field{
        width: 90vw ;
     }
    legend.legend{
        font-size: 2em;
    }
     section.album{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
     }
     h2.photohead, div.portfolio{
        grid-column: 1/3;
        font-size: 2.1em;
     }
     p.note, div.address, aside.essay{
        font-size: 1.6em;
     }
     div.victory, div.high, div.theology, article.mary, div.uni, aside.trans{
        width: 60vw;
        font-size: 1.4em;
     }
     img.mykg, img.uscathe{
        width: 50vw;
     }
     img.teklil{
        width: 60vw;
     }
     h1.myed{
        margin-left: 0;
     }
     img.elpic, img.cathepic{
        width: 45vw;
     }
     img.liboimg{
        width: 35vw;
     }
     footer#foot.footer{
        width: 120vw;
     }
     video.volvid{
        margin-left: 10% ;
     }
     div.thea, div.ride,div.liturgy{
        font-size: 1.7em;
     }
     h2.myskil{
        width: 90vw;
     }
     table{
        transform: scale(0.8);
        transform-origin: top left;
        margin-top: 1em;
        margin-bottom: 0em;
    }
    p.myall, h2#saint.read{
        font-size: 3.1em;
    }
    li.mine{
        height: 130vh;
        font-size: 2.1em;
    }
       h2.mycer{
       width: 80vw;
       }
       img.bikeimg{
       width: 50vw;
       }
       td.tdd, td.tdn{
       width: 0.1vw;
       font-size: 3em; 
       }
       td.tdh{
         width: 0.1vw;
         font-size: 3em; 
       }
        th.no , th.desc , th.img, th.sk{
         width: 0.01vw;
        font-size: 3em; 
        }
        div.sofa{
        font-size: 1.8em;
        margin-top:-10em ;
        width: 130vw;
        margin-left: 10%;
         }
        div.bike{
        width: 70vw;
        font-size: 1.8em;
        margin-right: 2em;
         }
         div.hour{
        width: 80vw;
        }
        th.img{
         border-radius: 0;
        border: solid beige;
        }
        img.ankelba{
         width: 80vw;
        }
       img.hourimg{
        width: 60vw;
       margin: 0.9em;
     }
     button#nexted{
        margin-left: 45em;
    }
    html{
        margin-left: 2em;
    }
    button#nexted{
        margin-left: 35em;
    }
}
@media screen and (min-width: 1024px){
    div.portfolio{
         width: 95vw;
         font-size: 1.7em;
    }
    a.homenav{
        width: 30vw;
        font-size: 1.5em;
        background-color: white;
    }
    h3.less{
        height: 10vh;
    }
    img.ai{
        width: 25vw;
    }
    img.img, img.img2{
        width: 17vw;
    }
    img.img{
        grid-column: 1/3;
    }
    img.aimg{
        width: 17vw;
    }
   section.about{
        width: 80vw;
        margin: 0.3em;
        margin-left: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .childpic{
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: rgb(211, 226, 226);
        border-radius: 5em;
        width: fit-content;
        justify-content: right;
    }
    .less{
        font-size: 1.8em;
        margin-left: 2em;
        grid-column: 1/4;
        text-align: center;
    }
    div.address{
        width: 35vw;
        height: fit-content;
    }
    .adultpic, .childpic{
        width: 40vw;
    }
    section.album{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
    }
    h2.photohead{
        grid-column: 1/3;
        width: 80vw;
    }
    .one{
        width: 50vw;
    }
    h1{
        color: white;
    }
    fieldset.field, aside.essay{
        width: 50vw;
        font-size: 1.3em;
    }
    .note{
        font-size: 1.2em;
    }
    .legend{
        font-size: 1.6em;
    }
    .bethel, .add, a.add.insta{
        font-size: 1.6em;
        font-weight: bold;
    } 
    .next{
        margin-left: 35em;
    } 
    .ed{
        width: 85vw;
    }
    div.askuala{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img.elpic, img.aait, img.mykg, img.uscathe, img.kolo, img.teklil, img.cathepic{
        width: 35vw;
    }
    article.mary, div.theology{
        font-size:1.4em;
    }
    p.abvic, p.catnote{
        font-size: 1.5em;
    }
    h1.myed{
        grid-column: 1/3;
        width: 70vw;
        margin-right: 0;
    }
    div.victory, div.uni,aside.trans {
          width: 45vw;
          margin: 0.4em;
    }
    article.mary, div.theology, div.high{
        width: 40vw;
        height: fit-content;
    }
    h3.praise, h3.regular{
        font-size: 2em;
    }
    div.theology , article.mary{
         height: fit-content;
    
    }
    aside.trans{
        height: 50vh;
        margin-right: 0;
    }
    footer#foot.footer{
        width: 90vw;
    }
    h1.mych{
        width: 60vw;
        margin: 0 15%;
    }
    .ed{
        width: 85vw;
    }
    div.askuala{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img.elpic, img.aait, img.mykg, img.uscathe, img.kolo, img.teklil, img.cathepic{
        width: 35vw;
    }
    article.mary, div.theology{
        font-size:1.4em;
    }
    p.abvic, p.catnote{
        font-size: 1.5em;
    }
    h1.myed{
        grid-column: 1/3;
        width: 70vw;
        margin-right: 0;
    }
    div.victory, div.uni,aside.trans {
          width: 45vw;
          margin: 0.4em;
    }
    article.mary, div.theology, div.high{
        width: 40vw;
        height: fit-content;
    }
    h3.praise, h3.regular{
        font-size: 2em;
    }
    div.theology , article.mary{
         height: fit-content;
    
    }
    aside.trans{
        height: 50vh;
        margin-right: 0;
    }
    footer#foot.footer{
        width: 90vw;
    }
    h1.mych{
        width: 60vw;
        margin: 0 15%;
    }
    div.hobbox{
        width: 60vw;
        margin: 0 5%;
    }
    img.mineimg, img.theaimg ,img#giorgis.bookimg{
        width: 25vw;
    }
    img.ridimg{
        width: 30vw;
    }
    img.usc{
        width: 25vw;
    }
    img.actimg{
        width: 30vw;
    }
    h2#saint.read, h1.myvol{
        font-size: 2.5em;
    }
    li.mine{
        width: 35vw;
        height: fit-content;
        padding: 1em;
    }
    h2.read{
        width: 40vw;
    }
    div.ride{
        width: 50vw;
    }
    div.liturgy{
        width: 60vw;
        margin: 0 30%;
    }
    div.thea{
        margin-left:4em;
        width: 70vw;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    h2.theatre, h4.drama{
        width: 20vw;
    }
    div.fiction{
        margin-left: 3em;
    }
    h2.myskil{
         width: 90vw;
    }
    table{
      transform: scale(0.4);
      transform-origin: top left;
      margin-top: 1em;
      margin-bottom: 0em;
    }
    h2.mycer{
     width: 80vw;
    }
   img.bikeimg{
     width: 20vw;
   }
   td.tdd, td.tdn{
     width: 0.1vw;
     font-size: 3em; 
   }
   section.ms{
     height: 65em;
   }
   td.tdh{
     width: 0.1vw;
     font-size: 3em; 
     }
   th.no , th.desc , th.img, th.sk{
     width: 0.01vw;
     font-size: 3em; 
   }
   div.sofa{
     width: 70vw;
     margin-left: 15%;
   }
   div.bike{
     width: 40vw;
     margin-right: 2em;
   }
   div.hour{
     width: 40vw;
   }
   th.img{
     border-radius: 0;
     border: solid beige;
   }
   img.ankelba{
     width: 50vw;
   }
   img.hourimg{
     width: 30vw;
     margin: 0.9em;
   }
 }
 /* styles end here */